@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Brand */
  --color-primary: #3e2522;
  --color-secondary: #8c6e63;
  --color-accent: #d3a376;

  /* Surface */
  --color-surface: #fff2df;
  --color-muted: #ffeob2;

  /* Text */
  --color-text-primary: #3e2522;
  --color-text-invert: #fff2df;

  /* Font */
  --font-sans:
    "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    width: 100vw;
    max-width: 100%;
  }

  body {
    font-family: inherit;
    background-color: var(--color-primary);
    color: var(--color-text-invert);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;

    overflow-x: hidden;
    overflow-y: auto; 
    width: 100%;
    position: relative;
    
    overscroll-behavior-x: none; 
    touch-action: pan-y;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 50% 30%;
  filter: blur(6px);
  background-image: linear-gradient(#fff);
  animation: rotate 3s linear infinite;
}
html:not(.dark) .rainbow::before {
  background-image: linear-gradient(var(--color-primary));
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marqueeScroll 30s linear infinite;
}
@media (pointer: coarse) {
  #custom-cursor-container {
    display: none !important;
  }
  body {
    cursor: auto !important;
  }
}